<header class="thin">
	<h1>About Index</h1>
	{{back-button}}
</header>

<section>
	<p>{{about}}</p>
	<hr>
	<p>
		<a class="hero" {{action 'openUrl' 'designplox'}}>Check out my website</a>
	</p>
	<p>
		<a class="hero" {{action 'openUrl' 'icons8'}}>Icons by Icons8</a>
	</p>
</section>
