*,
*:before,
*:after {
	box-sizing: border-box;
	border-radius: 0;
	font-weight: 300;
	margin: 0;
	outline: none;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}
body {
	background: #FFF;
	color: #222;
	cursor: default;
	font: 300 1em/1 'Atlas Grotesk', sans-serif;
	overflow: hidden;
	&.loading {
		background: url('images/index.svg') center no-repeat;
		background-size: 30vw;
		height: 100vh;
	}
}
a {
	color: #333;
	cursor: pointer;
	text-decoration: none;
}
form {}
label {
	display: block;
	margin: 1em 0;
	strong {
		display: block;
		line-height: 1.4;
		margin: 0 0 0.6em 0;
	}
}
input,
select,
textarea,
.input-field {
	appearance: none;
	background: #E6E6E6;
	border: none;
	color: #000;
	display: block;
	font: inherit;
	line-height: normal;
	padding: 0.8em;
	width: 100%;
	user-select: text;
}
::-webkit-input-placeholder {
	color: #B4B4BA;
}
select {
	appearance: none;
	background: #E6E6E6 url('images/select-bg.svg') center right no-repeat;
	background-size: auto 100%;
	padding: 0.8em 2.6em 0.8em 0.8em;
}
textarea {
	line-height: 1.4;
	min-height: 6em;
}
button {
	background: #E6E6E6;
	border: none;
	cursor: pointer;
	color: #666;
	font: inherit;
	line-height: 1;
	padding: 1em;
	transition: all 100ms linear;
	width: 100%;
	&:active {
		color: #B8B8B8;
	}
	&[type=submit],
	&.primary {
		background: #47B04B;
		color: #FFF;
		&:active {
			background: #61CA65;
		}
	}
	&.red {
		background: #F7412D;
		color: #FFF;
		&:active {
			background: #FF5B47;
		}
	}
}
h1,
h2,
h3 {
	margin: 0;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1em;
}
hr {
	border: none;
	margin: 2em 0;
}
img {
	border: none;
	max-width: 100%;
	vertical-align: top;
}
p {
	line-height: 1.4;
	margin: 1em 0;
}
ul {
	li {
		border-top: 1px solid #EEE;
		list-style: none;
		padding: 1em;
		&:first-of-type {
			border: none;
		}
	}
}

/* Layout */

.ember-application > .ember-view {
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: relative;
}
.ember-application > .ember-view header {
	background: #3E4EB8;
	padding: 1em;
	position: relative;
	flex: 0 0 auto;
	&.thin {
		h1 {
			font-size: 1.5em;
		}
	}
	img {
		height: 3em;
	}
	h1 {
		color: #FFF;
		margin-top: 1em;
	}
	.settings {
		background: url('images/interface/settings.svg') center no-repeat;
	}
	.back {
		background: url('images/interface/cross.svg') center no-repeat;
	}
	.settings,
	.back {
		background-size: 60%;
		height: 3em;
		position: absolute;
		right: 0;
		top: 0;
		width: 3em;
		&:active {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}
.ember-application > .ember-view section {
	flex: 1;
	overflow: auto;
	padding: 0 1em;
	position: relative;
	&.thin {
		padding: 0;
	}
}
.ember-application > .ember-view footer {
	a {
		background: #F7412D url('images/interface/minus.svg') center no-repeat;
		background-size: 70%;
		border-radius: 100%;
		bottom: 1em;
		color: #FFF;
		height: 3em;
		position: absolute;
		text-align: center;
		width: 3em;
		&.expense {
			left: 1em;
		}
		&.income {
			background-color: #47B04B;
			background-image: url('images/interface/plus.svg');
			right: 1em;
		}
	}
}

/* Components */

.item {
	border-top: 1px solid #EEE;
	align-items: center;
	display: flex;
	margin: 1em 0;
	padding-top: 1em;
	position: relative;
	&:first-of-type {
		border: none;
		padding: 0;
		&:active {
			&:before {
				height: calc(100% + 2em + 1px);
				top: -1em;
			}
		}
	}
	&:active {
		&:before {
			background: #EEE;
			content: '';
			height: calc(100% + 1em + 2px);
			left: -1em;
			position: absolute;
			top: -1px;
			width: calc(100% + 2em);
			z-index: -1;
		}
	}
	figure img {
		height: 2em;
	}
	h3 {
		flex: 1;
		line-height: 1.4;
		margin: 0 1em;
		small {
			color: #92989E;
			display: block;
			margin-top: 0.25em;
		}
	}
	span {
		&.expense {
			color: #F7412D;
		}
		&.income {
			color: #47B04B;
		}
	}
}
.selected-currency {
	background: url('images/interface/checked.svg') calc(100% - 0.5em) center no-repeat;
	background-size: 2em;
}
.categories {
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	font-size: 4vw;
	justify-content: center;
	padding: 1em !important;
	figure {
		flex: 0 0 calc(100% / 3);
		padding: 1em;
		text-align: center;
		img {
			height: 4em;
		}
		h3 {
			color: #92989E;
			line-height: 1.4;
			margin-top: 1em;
		}
		&:active {
			background: #EEE;
			border-radius: 0.5em;
		}
	}
}
.buttons {
	display: flex;
	justify-content: space-between;
	button {
		flex: 0 0 calc(50% - 1em);
	}
}
