*,
*:before,
*:after {
	box-sizing: border-box;
	border-radius: 0;
	font-weight: 300;
	margin: 0;
	outline: none;
	padding: 0;
	user-select: none;
	text-size-adjust: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}
body {
	background: #FFF;
	color: #222;
	cursor: default;
	font: 300 1em/1 'Avenir Next', sans-serif;
	overflow: hidden;
	&.loading {
		background: url('images/index.svg') center no-repeat;
		background-size: 30vw;
		height: 100vh;
	}
}
a {
	color: #3E4EB8;
	cursor: pointer;
	text-decoration: none;
}
form {}
label {
	display: block;
	margin: 1em 0;
	strong {
		display: block;
		line-height: 1.4;
		margin: 0 0 0.6em 0;
	}
}
input,
select,
textarea,
.input-field {
	appearance: none;
	background: #E6E6E6;
	border: none;
	color: #000;
	display: block;
	font: inherit;
	line-height: normal;
	padding: 0.8em;
	width: 100%;
	user-select: text;
}
::-webkit-input-placeholder {
	color: #B4B4BA;
}
select {
	appearance: none;
	background: #E6E6E6 url('images/select-bg.svg') center right no-repeat;
	background-size: auto 100%;
	padding: 0.8em 2.6em 0.8em 0.8em;
}
textarea {
	line-height: 1.4;
	min-height: 6em;
}
button {
	background: #92989E;
	border: none;
	cursor: pointer;
	color: #FFF;
	font: inherit;
	line-height: 1;
	padding: 1em;
	width: 100%;
	&:active {
		color: #B8BCC0;
	}
	&[type=submit],
	&.primary {
		background: #47B04B;
		color: #FFF;
		&:active {
			background: #61CA65;
		}
	}
	&.red {
		background: #F7412D;
		color: #FFF;
		&:active {
			background: #FF5B47;
		}
	}
}
h1,
h2,
h3 {
	margin: 0;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1em;
}
hr {
	border: none;
	margin: 2em 0;
}
img {
	border: none;
	max-width: 100%;
	vertical-align: top;
}
p {
	line-height: 1.4;
	margin: 1em 0;
}
ul {
	margin: 1em 0;
	.thin & {
		margin: 0;
	}
	li {
		border-top: 1px solid #EEE;
		list-style: none;
		padding: 1em;
		&:first-of-type {
			border: none;
		}
		&:active {
			position: relative;
			&[data-ember-action],
			&.ember-view {
				&:before {
					background: #EEE;
					content: '';
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: -1;
				}
			}
		}
		&[data-icon] {
			padding-left: 3.25em;
			position: relative;
			&:after {
				background-position: center;
				background-repeat: no-repeat;
				background-size: 1.75em;
				content: '';
				display: block;
				height: 3em;
				left: 0;
				position: absolute;
				top: 0;
				width: 3em;
			}
			&[data-icon=currency]:after {
				background-image: url('images/menu/currency.png');
			}
			&[data-icon=export]:after {
				background-image: url('images/menu/export.png');
			}
			&[data-icon=clear]:after {
				background-image: url('images/menu/clear.png');
			}
			&[data-icon=about]:after {
				background-image: url('images/menu/about.png');
			}
			&[data-icon=rate]:after {
				background-image: url('images/menu/rate.png');
			}
			&[data-icon=share]:after {
				background-image: url('images/menu/share.png');
			}
		}
	}
}

/* Layout */

.ember-application > .ember-view {
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: relative;
}
.ember-application > .ember-view header {
	background: #3E4EB8;
	padding: 1em;
	position: relative;
	flex: 0 0 auto;
	&.thin {
		h1 {
			font-size: 1.5em;
		}
	}
	img {
		height: 3em;
	}
	h1 {
		color: #FFF;
		margin-top: 1em;
	}
	.settings {
		background: url('images/interface/settings.svg') center no-repeat;
	}
	.back {
		background: url('images/interface/cross.svg') center no-repeat;
	}
	.settings,
	.back {
		background-size: 60%;
		height: 3em;
		position: absolute;
		right: 0;
		top: 0;
		width: 3em;
		&:active {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}
.ember-application > .ember-view section {
	flex: 1;
	overflow-y: scroll;
	padding: 0 1em;
	position: relative;
	-webkit-overflow-scrolling: touch;
	&.thin {
		padding: 0;
	}
}
.ember-application > .ember-view footer {
	a {
		background: #F7412D url('images/interface/minus.svg') center no-repeat;
		background-size: 70%;
		border-radius: 100%;
		bottom: 1em;
		color: #FFF;
		height: 3em;
		position: absolute;
		text-align: center;
		width: 3em;
		&.expense {
			left: 1em;
		}
		&.income {
			background-color: #47B04B;
			background-image: url('images/interface/plus.svg');
			right: 1em;
		}
	}
}

/* Components */

.items {
	padding-bottom: 5em !important;
}
.item {
	border-top: 1px solid #EEE;
	align-items: center;
	display: flex;
	margin: 1em 0;
	padding-top: 1em;
	position: relative;
	&:first-of-type {
		border: none;
		padding: 0;
		&:active {
			&:before {
				height: calc(100% + 2em + 1px);
				top: -1em;
			}
		}
	}
	&:active {
		&:before {
			background: #EEE;
			content: '';
			height: calc(100% + 1em + 2px);
			left: -1em;
			position: absolute;
			top: -1px;
			width: calc(100% + 2em);
			z-index: -1;
		}
	}
	figure img {
		height: 2em;
	}
	h3 {
		flex: 1;
		line-height: 1.4;
		margin: 0 1em;
		small {
			color: #92989E;
			display: block;
			margin-top: 0.25em;
		}
	}
	span {
		&.expense {
			color: #F7412D;
		}
		&.income {
			color: #47B04B;
		}
	}
}
.selected-currency {
	background: url('images/interface/checked.svg') calc(100% - 0.5em) center no-repeat;
	background-size: 2em;
}
.categories {
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	font-size: 4vw;
	justify-content: center;
	padding: 1em !important;
	figure {
		flex: 0 0 calc(100% / 3);
		padding: 1em;
		text-align: center;
		img {
			height: 4em;
		}
		h3 {
			color: #92989E;
			line-height: 1.4;
			margin-top: 1em;
		}
		&:active {
			background: #EEE;
			border-radius: 0.5em;
		}
	}
}
.buttons {
	display: flex;
	justify-content: space-between;
	button {
		flex: 0 0 calc(50% - 1em);
	}
}

/* Loading */

#loading {
	display: none;
	.overlay {
		align-items: center;
		background: rgba(255, 255, 255, 0.8);
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9;
		span {
			display: block;
			margin: 1em 0;
		}
	}
	.spinner {
		border: 0.125em solid #3E4EB8;
		background: #3E4EB8;
		border-radius: 100%;
		height: 2em;
		overflow: hidden;
		position: relative;
		width: 2em;
		&:before,
		&:after,
		.mask {
			border-radius: 2em 0 0 2em;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			transform-origin: 100% 50%;
			width: 50%;
		}
		&:before {
			background: #FFF;
			animation: spinner-rotate 1500ms linear infinite;
		}
		&:after {
			background: #3E4EB8;
			animation: spinner-opacity 1500ms steps(1, end) infinite;
		}
		.mask {
			background: #FFF;
			border-radius: 0 2em 2em 0;
			left: 50%;
			animation: spinner-opacity 1500ms steps(1, end) infinite reverse;
		}
	}
	@keyframes spinner-rotate {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	@keyframes spinner-opacity {
		0% {
			opacity: 1;
		}
		50%,
		100% {
			opacity: 0;
		}
	}
}
