@font-face {
	font-family: 'Atlas Grotesk';
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	src: url('atlas-grotesk.eot?#iefix') format('embedded-opentype'), url('atlas-grotesk.woff') format('woff'), url('atlas-grotesk.ttf') format('truetype'), url('atlas-grotesk.svg') format('svg')
}
@font-face {
	font-family: 'Atlas Typewriter';
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	src: url('atlas-typewriter.eot?#iefix') format('embedded-opentype'), url('atlas-typewriter.woff') format('woff'), url('atlas-typewriter.ttf') format('truetype'), url('atlas-typewriter.svg') format('svg')
}
