@font-face {
	font-family: 'San Francisco';
	font-weight: 100;
	src: url('san-francisco-light.woff');
}

@font-face {
	font-family: 'San Francisco';
	font-weight: 400;
	src: url('san-francisco-regular.woff');
}
